@font-face {
    font-family: 'Mauline';
    src: url('../assets/fonts/Mauline.woff2') format('woff2'),
         url('../assets/fonts/Mauline.woff') format('woff'),
         url('../assets/fonts/Mauline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Courier", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("Squiggle.png") no-repeat top center;
    background-size: cover;
    background-position: center -10%;
    background-color: #f5f3ed;
}

header h1 {
    font-family: "Mauline";
    font-size: 10vw; /* Scales based on screen width */
    margin: 20px 0;
    letter-spacing: 1px;
    color: #a8200d;
}

nav {
    background-color: #f5f3ed;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; /* Ensure links always stay in one row */
    align-items: center;
    justify-content: center; /* Centers navbar items */
    gap: 60px; /* Adds spacing between links */
}

nav ul li {
    display: block;
}

nav ul li a {
    color: #a8200d;
    text-decoration: none;
    font-family: "Courier New", monospace;
    font-size: 16px;
    letter-spacing: 2px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

section h2 {
    font-family: "Aptos Display", bold;
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #a8200d;
}

p {
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    margin: 20px 0;
}

/* Responsive Images */
img {
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


img:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Hover effect while playing */
.hover-effect {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    nav ul {
        gap: 30px; /* Reduce gap slightly for smaller screens */
    }
}

